<div>
  <h4>Add Users to Project</h4>
  <label class="search-label">Type Name to search</label>
  <br><br>
  <input class="form-input search-box" data-userId="0" id="userName" required="" onkeydown="showHint()" onclick="hideHint()" placeholder="Search By User Name" autocomplete="off" type="text">
  <span id="hint"></span>
  <input type="button" class="btn btn-s btn-primary" value="Add" onclick="addUserToProject()">
</div>

<div>
  <h3>Project Users</h3>
  <div class="display-users-wrap">
    <h4>Developers</h4>
    <% @developers.each do |dev|%>
      <div class="project-user" id="project-user-<%= dev.id %>">
        <%= dev.name %>
        <button class="btn btn-danger btn-xs remove-button" onclick="removeMember(<%= dev.id %>)">Remove</button>
      </div>
    <% end%>
  </div>

  <div class="display-users-wrap">
    <h4>QAs</h4>
    <% @qas.each do |qa|%>
      <div class="project-user" id="project-user-<%= qa.id %>">
        <%= qa.name %>
        <button class="btn btn-danger btn-xs remove-button" onclick="removeMember(<%= qa.id %>)">Remove</button>
      </div>
    <% end%>
  </div>
</div>
