<p id="notice"><%= notice %></p>

<h1>Bugs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Project</th>
      <th>Type</th>
      <th>Status</th>
      <th>Deadline</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= bug.title %></td>
        <td><%= bug.project.title %></td>
        <td>
          <% if bug.issue_type == 0 %>
            Bug
          <% else %>
            Feature
          <% end%>
        </td>
        <td>
          <% if bug.status == 0 %>
            New
          <% elsif bug.status == 1 %>
            Started
          <% else %>
            <% if bug.issue_type == 0 %>
              Resolved
            <% else %>
              Completed
            <% end%>
          <% end%>
        </td>
        <td><%= bug.deadline.strftime("%d-%m-%Y %I:%M %p") %></td>
        <td><%= link_to 'View Bug', bug %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Back', projects_url  , {:class => "btn btn-primary text-bold"  }%>
