<p id="notice"><%= notice %></p>

<h1>My Bugs</h1>

<% if @bugs.length > 0 %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Project</th>
      <th>Type</th>
      <th>Status</th>
      <th>Deadline</th>
      <th>Actions</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= bug.title %></td>
        <td><%= bug.project.title %></td>
        <td>
          <% if bug.issue_type == 0 %>
            Bug
          <% else %>
            Feature
          <% end%>
        </td>
        <td>

          <% @typeStatusName = "Resolved" %>
          <% if bug.issue_type == 1 %>
            <%  @typeStatusName = "Completed" %>
          <% end%>

          <% if bug.status == 0 %>
            <% @typeStatusName = "Started" %>
            New
          <% elsif bug.status == 1 %>
            Started
          <% else %>
            <%= @typeStatusName%>
          <% end%>
        </td>
        <td><%= bug.deadline.strftime("%d-%m-%Y %I:%M %p") %></td>
        <td>
          <% if bug.status != 2 %>
            <input type="button" class="btn btn-xs btn-info" value="Mark <%= @typeStatusName%>" onclick="markBug(<%= bug.id %>)">
          <% end %>
        </td>
        <td><%= link_to 'View Bug', bug %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <br>
  <h4>No bugs found.</h4>
<% end %>
<br>
<%= link_to 'Back', projects_url  , {:class => "btn btn-primary text-bold"  }%>
