<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bug.title %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @bug.deadline %>
</p>

<p>
  <% if @bug.bug_image.attached? %>
  <!-- @bug.bug_image.present? will always return true, use attached? to check presence -->
    <p>
      <strong>Image:</strong>
      <br>
      <%= image_tag @bug.bug_image %>
    </p>
  <% end %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bug.issue_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bug.status %>
</p>

<p>
  <strong>Project:</strong>
  <%= @bug.project_id %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @bug.creator_id %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @bug.developer_id %>
</p>

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
