<style type="text/css"> p {font-size: 16px; }</style>
<p id="notice"><%= notice %></p>

<h3>
  <strong>Title:</strong>
  <strong><%= @bug.title %></strong>
</h3>
<br><br>

<p>
  <strong>Deadline:</strong>
  <strong><%= @bug.deadline.strftime("%d-%m-%Y %I:%M %p") %></strong>
</p>

<p>
  <strong>Type:</strong>
  <% if @bug.issue_type == 0 %>
    Bug
  <% else %>
    Feature
  <% end%>
</p>

<p>
  <strong>Status:</strong>
  <% if @bug.status == 0 %>
    New
  <% elsif @bug.status == 1 %>
    Started
  <% else %>
    <% if @bug.issue_type == 0 %>
      Resolved
    <% else %>
      Completed
    <% end%>
  <% end%>
</p>

<p>
  <strong>Project:</strong>
  <%= @bug.project.title %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @bug.creator.name %>
</p>

<p>
  <strong>Developer:</strong>
  <% if @bug.developer.nil? %>
      Not Assigned
  <% else%>
    <%= @bug.developer.name %>
  <% end %>
</p>
<p>
  <% if @bug.bug_image.attached? %>
  <!-- @bug.bug_image.present? will always return true, use attached? to check presence -->
    <button class="btn btn-primary btn-xs" onclick="$('#imageWrap').toggle('slow')">Show Image</button>
    <p id="imageWrap" style="display: none;">
      <%= image_tag @bug.bug_image %>
    </p>
  <% end %>
</p>
<br><br>
<%= link_to 'Back', (request.referrer || root_path) , {:class => "btn btn-info btn-xs"  }%></td>
